<body>

    <div class="container p-0">
        <h1 class="h3 mb-3">Settings</h1>
        <div class="row">
            <div class="col-md-5 col-xl-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Profile Settings</h5>
                    </div>
                    <div class="list-group list-group-flush" role="tablist">
                        <a class="list-group-item list-group-item-action " data-toggle="list" routerLink="/home"
                            role="tab">
                            Home
                        </a>
                        <a class="list-group-item list-group-item-action active" data-toggle="list" href="#account"
                            role="tab">
                            Account
                        </a>
                        <!-- Conditionally display Certificat and Course links if the user is NOT an "etudiant" -->
                        <a *ngIf="user.role !== 'ETUDIANT'" class="list-group-item list-group-item-action"
                            data-toggle="list" href="#Certificat" role="tab">
                            Certificate
                        </a>
                        <a *ngIf="user.role !== 'ETUDIANT'" class="list-group-item list-group-item-action"
                            data-toggle="list" href="#Course" role="tab">
                            Courses
                        </a>
                        <a *ngIf="user.role !== 'ETUDIANT'" class="list-group-item list-group-item-action"
                            data-toggle="list" href="#Experience" role="tab">
                            Experience
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-md-7 col-xl-8">
                <div class="tab-content">
                    <!--  that route is for account  -->
                    <div class="tab-pane fade show active" id="account" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-actions float-right">
                                    <div class="dropdown show">
                                        <a href="#" data-bs-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-more-horizontal align-middle">
                                                <circle cx="12" cy="12" r="1"></circle>
                                                <circle cx="19" cy="12" r="1"></circle>
                                                <circle cx="5" cy="12" r="1"></circle>
                                            </svg>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>

                                </div>
                                <h5 class="card-title mb-0">Public info</h5>
                            </div>
                            <div class="card-body">
                                <form (ngSubmit)="onSubmit()">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label for="inputUsername">Username</label>
                                                <input type="text" class="form-control" id="inputUsername"
                                                    [value]="user.firstName + ' ' + user.lastName"
                                                    placeholder="Username" disabled>
                                            </div>
                                            <div class="form-group">
                                                <label for="bio">Biography</label>
                                                <textarea rows="2" class="form-control" id="bio" [(ngModel)]="user.bio"
                                                    name="bio" placeholder="Tell something about yourself"
                                                    maxlength="255"></textarea>
                                                <small *ngIf="user.bio?.length === 255" class="error-message">
                                                    You have reached the maximum of 255 characters.
                                                </small>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="text-center">
                                                <!-- Display the user's picture; click to trigger file input -->
                                                <img [src]="userPictureUrl || 'https://bootdey.com/img/Content/avatar/avatar1.png'"
                                                    class="rounded-circle img-responsive mt-2" width="128" height="128"
                                                    (click)="fileInput.click()" style="cursor: pointer;">

                                                <!-- Hidden file input -->
                                                <input type="file" #fileInput (change)="onFileChange($event)"
                                                    accept="image/*" style="display: none;" />

                                                <!-- Upload button -->
                                                <div class="mt-2">
                                                    <button (click)="uploadPicture()" class="btn btn-primary"
                                                        style="border-radius: 4px;padding: 6px 12px;">
                                                        <i class="fa fa-upload"></i> Upload
                                                    </button>
                                                </div>

                                                <small>For best results, use an image at least 128px by 128px in .jpg
                                                    format</small>
                                            </div>
                                        </div>

                                    </div>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </form>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <div class="card-actions float-right">
                                    <div class="dropdown show">
                                        <a href="#" data-toggle="dropdown" data-display="static">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-more-horizontal align-middle">
                                                <circle cx="12" cy="12" r="1"></circle>
                                                <circle cx="19" cy="12" r="1"></circle>
                                                <circle cx="5" cy="12" r="1"></circle>
                                            </svg>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <h5 class="card-title mb-0">Private info</h5>
                            </div>
                            <div class="card-body">
                                <form (ngSubmit)="onSubmit()">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="firstName">First name</label>
                                            <input type="text" class="form-control" id="firstName" name="firstName"
                                                [value]="user.firstName" [(ngModel)]="user.firstName"
                                                placeholder="First name">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="lastName">Last name</label>
                                            <input type="text" class="form-control" id="lastName" name="lastName"
                                                [value]="user.lastName" [(ngModel)]="user.lastName"
                                                placeholder="Last name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" [value]="user.email" id="email"
                                            name="email" placeholder="Email" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="phone">Phone</label>
                                        <input type="phone" class="form-control" [(ngModel)]="user.phone"
                                            [value]="user.phone" id="phone" name="phone" placeholder="12345678">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </form>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <div class="card-actions float-right">
                                    <div class="dropdown show">
                                        <a href="#" data-toggle="dropdown" data-display="static">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-more-horizontal align-middle">
                                                <circle cx="12" cy="12" r="1"></circle>
                                                <circle cx="19" cy="12" r="1"></circle>
                                                <circle cx="5" cy="12" r="1"></circle>
                                            </svg>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <h5 class="card-title mb-0">Address info</h5>
                            </div>
                            <div class="card-body">
                                <form #addressForm="ngForm" (ngSubmit)="saveAddress()">
                                    <div class="form-group">
                                        <label for="adress">Adresse</label>
                                        <input type="text" class="form-control" id="adress" name="adress"
                                            [(ngModel)]="adress" [value]="user.adress">
                                    </div>
                                    <div id="map"></div> <!-- Leaflet map container -->
                                    <button type="submit" class="btn btn-primary"
                                        style="margin-top: 3%;">Enregistrer</button>
                                </form>
                            </div>
                        </div>
                    </div>

                     <!--  that route is for Certificat  -->
                    <div class="tab-pane fade" id="Certificat" role="tabpanel">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Education</h5>
                                <form>
                                    <div class="form-group">
                                        <label for="educationlevel">EDUCATION LEVEL</label>
                                        <input type="text" class="form-control" [(ngModel)]="tuteur.educationlevel" name="educationlevel" id="educationlevel">
                                    </div>
                                    
                                    <button (click)="saveEducation()" type="submit" class="btn btn-primary">Save</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Ensure the route has the correct parameter name -->
                    <div class="tab-pane fade" id="Course" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-actions float-right">
                                    <div class="dropdown show">
                                        <a href="#" data-toggle="dropdown" data-display="static">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-more-horizontal align-middle">
                                                <circle cx="12" cy="12" r="1"></circle>
                                                <circle cx="19" cy="12" r="1"></circle>
                                                <circle cx="5" cy="12" r="1"></circle>
                                            </svg>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <h5 class="card-title mb-0">Course info</h5>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="form-group">
                                        <label for="courseName">Course</label>
                                        <input type="text" class="form-control" id="courseName"
                                            [(ngModel)]="newSubjectName" name="courseName">
                                    </div>

                                    <button (click)="newSubject()" type="button" class="btn btn-primary">Save</button>
                                </form>

                            </div>
                        </div>
                    </div>

                    <!--  that route is for experience  -->
                    <div class="tab-pane fade" id="Experience" role="tabpanel">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-actions float-right">
                                    <div class="dropdown show">
                                        <a href="#" data-toggle="dropdown" data-display="static">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-more-horizontal align-middle">
                                                <circle cx="12" cy="12" r="1"></circle>
                                                <circle cx="19" cy="12" r="1"></circle>
                                                <circle cx="5" cy="12" r="1"></circle>
                                            </svg>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <h5 class="card-title mb-0">Experience</h5>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="form-group">
                                        <label for="experience">Company Name</label>
                                        <input type="text" class="form-control" [(ngModel)]="tuteur.experience" name="experience" id="experience">
                                    </div>
                                    <div class="form-group">
                                        <label for="period">Period</label>
                                        <input type="text" class="form-control" [(ngModel)]="tuteur.period" name="period" id="period">
                                    </div>
                                    <div class="form-group">
                                        <label for="skills">Skills</label>
                                        <input type="text" class="form-control" [(ngModel)]="tuteur.skills" name="skills" id="skills">
                                    </div>

                                    <button (click)="saveExperience()" type="button" class="btn btn-primary">Save</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>