<div class="page-wrapper">


    <!-- Main Header-->
    <header class="main-header header-style-one">
        <div class="header-upper">
            <div class="auto-container">
                <div class="clearfix">
                    <div class="logo-box">
                        <div class="logo">
                            <a href="#"><img src="assets/images/logo.png" alt="" title=""></a>
                        </div>
                    </div>
                    <div class="pull-left number-box">
                        <div class="number">
                            <span class="icon"><img src="assets/images/icons/phone-call.png" alt=""
                                    style="margin-top: -10%;" /></span>
                            <a class="playwrite">Edupro</a>
                        </div>
                    </div>
                    <div class="nav-outer clearfix">
                        <!-- Mobile Navigation Toggler -->
                        <div class="mobile-nav-toggler" *ngIf="!isLoggedIn">
                            <a class="btn theme-btn btn-style-two" data-toggle="modal"
                                data-target=".login-register-form" style="margin-left: -80%;border:0;">
                                <span class="txt" style="color: #fefffd;"><i class="fa fa-user"
                                        style="margin-right: 7%;"></i>Login</span>
                            </a>
                        </div>
                        <div *ngIf="isLoggedIn" class="dropdown">
                            <button class="btn theme-btn btn-style-two dropdown-toggle" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" style="margin-left: 92%;margin-top: -10%; color:white">
                                <span class="txt" style="color: #fefffd;"><i class="fa fa-user"></i></span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" [routerLink]="['/profile', userId]">Profile</a>
                                <a class="dropdown-item" href="#">Settings</a>
                                <a class="dropdown-item" (click)="logout()">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- End Main Header -->

    <!-- Banner Section -->
    <section class="banner-section" style="background-image:url(assets/images/background/1.png)">
        <div class="auto-container">

            <!-- Content Boxed -->
            <div class="content-boxed">
                <div class="inner-column">
                    <h1>We Are The Leaders In The
                        <br>
                        Private Education
                    </h1>
                    <!-- Education Form -->
                    <div class="education-form">
                        <!-- Education Form -->
                        <form (ngSubmit)="onSubmit1()">
                            <div class="clearfix">
                                <div class="form-group clearfix">
                                    <select class="custom-select-box ui-selectmenu-button ui-button"
                                        [(ngModel)]="search.subject" name="subject">
                                        <option value="">Course</option>
                                        <option *ngFor="let subject of subjects" [value]="subject.name"
                                            style="color: black;">{{ subject.name }}</option>

                                    </select>
                                    <input type="text" name="address" [(ngModel)]="search.adress"
                                        placeholder="Search by address…" required="">
                                    <button class="submit-btn icofont-search" type="submit" name="submit-form"></button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="text">Choose from 150,000 online video courses with new additions
                        <br>
                        published
                        every month
                    </div>
                </div>
            </div>

            <ul class="social-box">
                <li>
                    <a href="http://facebook.com/" class="fa fa-facebook"></a>
                </li>
                <li>
                    <a href="https://twitter.com/" class="fa fa-twitter"></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/" class="fa fa-linkedin-square"></a>
                </li>
                <li>
                    <a href="https://vimeo.com/" class="fa fa-vimeo"></a>
                </li>
            </ul>

        </div>
    </section>
    <!-- End Banner Section -->

    <!-- Fluid Section One -->
    <section class="fluid-section-one">
        <div class="outer-container clearfix">
            <div class="content-column">
                <div class="inner-column">
                    <h1>Your Future,<br>Your Way.</h1>
                    <p>Etiam faucibus magna aliquam metus semper, ut finibus ante sagittis. Mauris non velit dolor.
                        In quis ex magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In consequat
                        blandit lorem, ut tristique
                    </p>
                    <div class="buttons-box1 " style="margin-top: 5%;">
                        <a routerLink="/teachers" class="btn theme-btn btn-style-one bg-primary"
                            style="text-decoration: none; cursor: pointer; color: #fefffd; margin-right: 15px;margin-bottom: 15px;">
                            <span class="txt">Start Course Now</span>
                        </a>
                        <a href="" class="btn theme-btn btn-style-two"
                            style="text-decoration: none; cursor: pointer; color: #3d3d3c; margin-right: 15px;margin-bottom: 15px; ">
                            <span class="txt">Download Theme</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="image-column" style="background-image:url(assets/images/resource/future.png)">
                <figure class="image-box"><img src="assets/images/resource/future.png" alt=""></figure>
            </div>
        </div>
    </section>
    <!-- End Fluid Section One -->

    <!-- Courses Section -->
    <section class="courses-section">
        <div class="sec-title centered">
            <h2>Private Teachers</h2>
        </div>

        <div class="container">
            <div class="row mt-n5">
                <div *ngFor="let user of users" class="col-md-6 col-lg-4 mt-5 wow fadeInUp" data-wow-delay=".2s"
                    style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <div class="blog-grid">
                        <div class="blog-grid-img position-relative">
                            <img alt="img" [src]="getPictureUrl(user.picture)">

                        </div>
                        <div class="blog-grid-text p-4">
                            <h3 class="h5 mb-3">
                                <a href="#!" style="text-decoration-line: inherit;color: #3d3d3c;">{{ user.firstName }}
                                    {{ user.lastName }}</a>
                            </h3>
                            <p class="display-30">{{ user.adress }}</p>

                            <div class="meta meta-style2">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a href="#!" style="color: #3d3d3c;">
                                            <i class="fa fa-calendar"></i>
                                            {{ user.dateOfBirth | date }}
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#!" style="color: #3d3d3c;">
                                            <i class="fa fa-user"></i>
                                            {{ user.role }}
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#!" style="color: #3d3d3c;">
                                            <i class="fa fa-comments"></i>
                                            68
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-6 wow fadeInUp" data-wow-delay=".6s"
                style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                <div class="col-12"></div>
            </div>
        </div>

        <!-- Lower Box -->
        <div class="lower-box text-center" style="margin-top: 1%;">
            <a href="courses.html" class="courses">View all Teachers</a>
        </div>
    </section>
    <!-- End Courses Section -->

    <!-- Benefits Section -->
    <section class="benefits-section" style="background-image:url(assets/images/background/2.png)">
        <div class="auto-container">
            <h2>Course Benefits</h2>
            <p>Maecenas semper, odio at fermentum auctor, mauris dui
                <br>
                tempus libero, dapibus commodo velit fel
            </p>
            <ul class="list-style-one">
                <li>Flexible online classes</li>
                <li>Pause course</li>
                <li>Unlimited courses</li>
            </ul>
            <p>Maecenas semper, odio at fermentum auctor, mauris dui
                <br>
                tempus libero, dapibus commodo velit fel
            </p>
        </div>
    </section>
    <!-- End Benefits Section -->

    <!-- Category Section -->
    <section class="category-section">
        <div class="auto-container">
            <!-- Sec Title -->
            <div class="sec-title centered">
                <h2>private lessons</h2>
            </div>
            <div class="clearfix">

                <!-- Category Block -->
                <div class="category-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="image">
                            <img src="assets/images/resource/category-1.png" alt="" />
                            <div class="content">
                                <h4>
                                    <a href="#">Graphic Designs</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Category Block -->
                <div class="category-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInDown" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="image">
                            <img src="assets/images/resource/category-2.png" alt="" />
                            <div class="content">
                                <h4>
                                    <a href="#">Digital Marketing</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Category Block -->
                <div class="category-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="image">
                            <img src="assets/images/resource/category-3.png" alt="" />
                            <div class="content">
                                <h4>
                                    <a href="#">Financial Trading</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Category Block -->
                <div class="category-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="image">
                            <img src="assets/images/resource/category-4.png" alt="" />
                            <div class="content">
                                <h4>
                                    <a href="#">Business</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Category Block -->
                <div class="category-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="image">
                            <img src="assets/images/resource/category-5.png" alt="" />
                            <div class="content">
                                <h4>
                                    <a href="#">Office Productivity</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Category Block -->
                <div class="category-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="image">
                            <img src="assets/images/resource/category-6.png" alt="" />
                            <div class="content">
                                <h4>
                                    <a href="#">Health & Fitness</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Lower Box -->
            <div class="lower-box text-center">
                <a href="courses.html" class="view-more">View more categories</a>
            </div>

        </div>
    </section>
    <!-- End Category Section -->


    <!-- Main Footer -->
    <footer class="main-footer">
        <div class="auto-container">
            <!--Widgets Section-->
            <div class="widgets-section">
                <div class="row clearfix">

                    <!-- Column -->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">

                            <!-- Footer Column -->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget logo-widget">
                                    <div class="logo">
                                        <a href="index.html"><img src="assets/images/logo-2.png" alt="" /></a>
                                    </div>
                                    <ul class="social-nav">
                                        <li>
                                            <a href="http://facebook.com/" class="fa fa-facebook"></a>
                                        </li>
                                        <li>
                                            <a href="https://twitter.com/" class="fa fa-twitter"></a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/" class="fa fa-linkedin"></a>
                                        </li>
                                        <li>
                                            <a href="https://vimeo.com/" class="fa fa-vimeo"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Footer Column -->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget links-widget">
                                    <ul class="list-link">
                                        <li>
                                            <a href="#">Hastheme for Business</a>
                                        </li>
                                        <li>
                                            <a href="#">Teach on Udemy</a>
                                        </li>
                                        <li>
                                            <a href="#">Get the app</a>
                                        </li>
                                        <li>
                                            <a href="#">About us</a>
                                        </li>
                                        <li>
                                            <a href="#">Contact us</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Column -->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">

                            <!-- Footer Column -->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget links-widget">
                                    <ul class="list-link">
                                        <li>
                                            <a href="#">Careers</a>
                                        </li>
                                        <li>
                                            <a href="#">Blog</a>
                                        </li>
                                        <li>
                                            <a href="#">Help and Support</a>
                                        </li>
                                        <li>
                                            <a href="#">Affiliate</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Footer Column -->
                            <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                                <div class="footer-widget links-widget">
                                    <ul class="list-link">
                                        <li>
                                            <a href="#">Terms</a>
                                        </li>
                                        <li>
                                            <a href="#">Privacy policy and cookie policy</a>
                                        </li>
                                        <li>
                                            <a href="#">Sitemap</a>
                                        </li>
                                        <li>
                                            <a href="#">Featured courses</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </footer>

    <!-- Login / Register Modal -->
    <div class="modal fade login-register-form" id="authModal" tabindex="-1" role="dialog"
        aria-labelledby="authModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="authModalLabel">Authentication</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs" id="authTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login-form" role="tab"
                                aria-controls="login-form" aria-selected="true">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="register-tab" data-toggle="tab" href="#registration-form" role="tab"
                                aria-controls="registration-form" aria-selected="false">Register</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="authTabContent">
                        <div class="tab-pane fade show active" id="login-form" role="tabpanel"
                            aria-labelledby="login-tab">
                            <form class="form-signin">
                                <h1 class="h3 mb-3 text-center">Sign in</h1>
                                <div class="d-grid gap-2">
                                    <button class="btn btn-danger btn-block"><i
                                            class="fa fa-google"></i>
                                        Sign in with Google</button>
                                </div>
                                <p class="text-center my-3">OR</p>
                                <div class="mb-3">
                                    <label for="inputEmail" class="form-label">Email address</label>
                                    <input [(ngModel)]="authRequest.email" [ngModelOptions]="{standalone: true}"
                                        type="email" id="inputEmail" class="form-control" placeholder="Email address"
                                        required autofocus>
                                </div>
                                <div class="mb-3">
                                    <label for="inputPassword" class="form-label">Password</label>
                                    <input [(ngModel)]="authRequest.password" [ngModelOptions]="{standalone: true}"
                                        type="password" id="inputPassword" class="form-control" placeholder="Password"
                                        required>
                                </div>
                                <button (click)="login()" class="btn btn-success btn-block" type="submit">Sign
                                    in</button>
                                <a href="#" id="forgot_pswd" class="d-block mt-2" (click)="showForgotPassword()">Forgot
                                    password?</a>

                            </form>
                        </div>
                        <div class="tab-pane fade" id="registration-form" role="tabpanel"
                            aria-labelledby="register-tab">
                            <form class="form-signup" [formGroup]="registrationForm">
                                <h1 class="h3 mb-3 text-center">Sign Up</h1>
                                <div class="mb-3">
                                    <label for="firstName">First Name:</label>
                                    <input [(ngModel)]="registerRequest.firstName" type="text" id="firstName"
                                        class="form-control" placeholder="First Name" formControlName="firstName" />
                                    <div
                                        *ngIf="registrationForm.get('firstName')?.invalid && registrationForm.get('firstName')?.touched">
                                        <small *ngIf="registrationForm.get('firstName')?.errors?.['required']"
                                            class="error-message">First Name is required.</small>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="lastName" class="form-label">Last Name:</label>
                                    <input [(ngModel)]="registerRequest.lastName" type="text" id="lastName"
                                        class="form-control" placeholder="Last name" formControlName="lastName" />
                                    <div
                                        *ngIf="registrationForm.get('lastName')?.invalid && registrationForm.get('lastName')?.touched">
                                        <small *ngIf="registrationForm.get('lastName')?.errors?.['required']"
                                            class="error-message">Last Name is required.</small>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="dateOfBirth">Date of Birth:</label>
                                    <input [(ngModel)]="registerRequest.dateOfBirth" type="date" id="dateOfBirth"
                                        class="form-control" formControlName="dateOfBirth" />
                                    <div
                                        *ngIf="registrationForm.get('dateOfBirth')?.invalid && registrationForm.get('dateOfBirth')?.touched">
                                        <small *ngIf="registrationForm.get('dateOfBirth')?.errors?.['required']"
                                            class="error-message">Date of Birth is required.</small>
                                        <small *ngIf="registrationForm.get('dateOfBirth')?.errors?.['underage']"
                                            class="error-message">You must be at least 18 years old.</small>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="email" class="form-label">Email Address:</label>
                                    <input [(ngModel)]="registerRequest.email" type="email" id="email"
                                        class="form-control" placeholder="Email address" formControlName="email" />
                                    <div
                                        *ngIf="registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched">
                                        <small *ngIf="registrationForm.get('email')?.errors?.['required']"
                                            class="error-message">Email is required.</small>
                                        <small *ngIf="registrationForm.get('email')?.errors?.['email']"
                                            class="error-message">Enter a valid email.</small>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="password" class="form-label">Password:</label>
                                    <input [(ngModel)]="registerRequest.password" type="password" id="password"
                                        class="form-control" placeholder="Password" formControlName="password" />
                                    <div
                                        *ngIf="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched">
                                        <small *ngIf="registrationForm.get('password')?.errors?.['required']"
                                            class="error-message">Password is required.</small>
                                        <small *ngIf="registrationForm.get('password')?.errors?.['passwordTooShort']"
                                            class="error-message">Password must be at least 8 characters.</small>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="repeatPassword" class="form-label">Repeat Password:</label>
                                    <input type="password" id="repeatPassword" class="form-control"
                                        placeholder="Repeat Password" formControlName="repeatPassword" />
                                    <div
                                        *ngIf="registrationForm.errors?.['passwordMismatch'] && registrationForm.get('repeatPassword')?.touched">
                                        <small class="error-message">Passwords must match.</small>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <fieldset>
                                        <label class="form-label">Role</label>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="role" id="etudiant"
                                                value="ETUDIANT" formControlName="role"
                                                [(ngModel)]="registerRequest.role" checked="">
                                            <label class="form-check-label" for="etudiant">Etudiant</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="role" id="tuteur"
                                                value="TUTEUR" formControlName="role"
                                                [(ngModel)]="registerRequest.role">
                                            <label class="form-check-label" for="tuteur">Tuteur</label>
                                        </div>
                                    </fieldset>
                                    <div
                                        *ngIf="registrationForm.get('role')?.invalid && registrationForm.get('role')?.touched">
                                        <small class="error-message">Role is required.</small>
                                    </div>
                                </div>


                                <button (click)="register()" class="btn btn-primary btn-block" type="submit">Sign
                                    Up</button>
                            </form>
                        </div>
                    </div>
                     <!-- Forgot Password Form as a hidden popup -->
                    <div id="forgotPasswordForm" style="display: none;">
                        <form class="form-forgot" (ngSubmit)="forgotPassword()">
                            <h1 class="h3 mb-3 text-center">Reset Password</h1>
                            <div class="mb-3">
                                <label for="forgotEmail" class="form-label">Email address</label>
                                <input type="email" id="forgotEmail" class="form-control"
                                    placeholder="Email address" [(ngModel)]="forgotPasswordEmail" name="forgotPasswordEmail" required autofocus>
                            </div>
                            <button class="btn btn-primary btn-block" type="submit">Send Reset Link</button>
                        </form>
                        <a href="#" (click)="hideForgotPassword()">Back to Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<!--End pagewrapper-->